body
{
  padding: 1em;
  margin: 1em;
  border: 0px;
  background-color: #fafafa;
  color: #1d1b1a;
  font-family: Canaro;
}
h1
{
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}
h2
{
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
  text-align: left;
}
h3
{
  font-size: 1.125em;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}
h4
{
  font-size: 0.875em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}
p
{
  font-size: 1.125em;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}
.container
{
  display: grid;
  grid-template-columns: repeat(auto-fit, 20em);
  gap: 2em;
  justify-content: center;
}
#nonselectable
{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#cryptocontact:after
{
  content: attr(user) "@" attr(domain) "." attr(extension) " | " attr(code) attr(operator) attr(number) " | " attr(city);
}
@font-face
{
  font-family: Canaro;
  src: url(fonts/canaro_book.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: Canaro;
  src: url(fonts/canaro_book_italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face
{
  font-family: Canaro;
  src: url(fonts/canaro_bold.ttf);
  font-weight: bold;
  font-style: normal;
}
