body
{
  margin: 0em;
  background-color: #333333; /* gray */
  color: #fafafa; /* white */
  font-family: Canaro;
}
h1
{
  font-size: 3em;
  font-style: normal;
  font-weight: bold;
}
h2
{
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
}
h3
{
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
}
h4
{
  font-size: 1.125em;
  font-style: italic;
  font-weight: normal;
}
h5
{
  font-size: 1.0em;
  font-style: normal;
  font-weight: normal;
}
p
{
  font-size: 1.125em;
  font-style: normal;
  font-weight: normal;
}
.container
{
  display: grid;
  grid-template-columns: repeat(auto-fit, 20em);
  gap: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 6em;
  padding-bottom: 6em;
  justify-content: center;
}
.nonselectable
{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#header
{
  padding: 0.75em;
  padding-left: 2em;
}
#footer
{
  padding: 1em;
  text-align: center;
}
#logotype
{
  margin: 0em;
}
#whitebox
{
  background-color: #fafafa; /* white */
  color: #1d1d1d; /* black */
}
#blackbox
{
  background-color: #1d1d1d; /* black */
  color: #fafafa; /* white */
}
#contact:after
{
  content: attr(user) "@" attr(domain) "." attr(extension) " | " attr(code) attr(operator) attr(number) " | " attr(city) ", " attr(country);
}
@font-face
{
  font-family: Canaro;
  src: url(fonts/canaro_book.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: Canaro;
  src: url(fonts/canaro_book_italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face
{
  font-family: Canaro;
  src: url(fonts/canaro_bold.ttf);
  font-weight: bold;
  font-style: normal;
}
